# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [1]:
# import libraries

import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
# load messages dataset
messages = pd.read_csv('messages.csv', sep = ',', dtype = str)
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [3]:
# load categories dataset
categories = pd.read_csv('categories.csv', sep = ',', dtype = str)
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

In [4]:
categories.categories[0]

'related-1;request-0;offer-0;aid_related-0;medical_help-0;medical_products-0;search_and_rescue-0;security-0;military-0;child_alone-0;water-0;food-0;shelter-0;clothing-0;money-0;missing_people-0;refugees-0;death-0;other_aid-0;infrastructure_related-0;transport-0;buildings-0;electricity-0;tools-0;hospitals-0;shops-0;aid_centers-0;other_infrastructure-0;weather_related-0;floods-0;storm-0;fire-0;earthquake-0;cold-0;other_weather-0;direct_report-0'

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [5]:
# merge datasets
df = messages.merge(categories, on = 'id')
df

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...
5,14,Information about the National Palace-,Informtion au nivaux palais nationl,direct,related-0;request-0;offer-0;aid_related-0;medi...
6,15,Storm at sacred heart of jesus,Cyclone Coeur sacr de jesus,direct,related-1;request-0;offer-0;aid_related-0;medi...
7,16,"Please, we need tents and water. We are in Sil...",Tanpri nou bezwen tant avek dlo nou zon silo m...,direct,related-1;request-1;offer-0;aid_related-1;medi...
8,17,"I would like to receive the messages, thank you",Mwen ta renmen jouin messag yo. Merci,direct,related-0;request-0;offer-0;aid_related-0;medi...
9,18,I am in Croix-des-Bouquets. We have health iss...,"Nou kwadebouke, nou gen pwoblem sant m yo nan ...",direct,related-1;request-1;offer-0;aid_related-1;medi...
10,20,"There's nothing to eat and water, we starving ...",Bon repo pa gen anyen menm grangou swaf,direct,related-1;request-1;offer-0;aid_related-1;medi...
11,21,I am in Petionville. I need more information r...,M nan pv mvle plis enfomasyon sou 4636,direct,related-0;request-0;offer-0;aid_related-0;medi...
12,22,"I am in Thomassin number 32, in the area named...",Mwen thomassin 32 nan pyron mwen ta renmen jwe...,direct,related-1;request-1;offer-0;aid_related-1;medi...
13,24,"Let's do it together, need food in Delma 75, i...",Ann fel ansanm bezwen manje nan delma 75 nan r...,direct,related-1;request-1;offer-0;aid_related-1;medi...
14,25,More information on the 4636 number in order f...,gen plis enfomasyon sou 4636 la pom w sim ap k...,direct,related-1;request-0;offer-0;aid_related-0;medi...
15,26,"A Comitee in Delmas 19, Rue ( street ) Janvier...",Komite katye delma 19 rue janvier imp charite ...,direct,related-1;request-1;offer-0;aid_related-1;medi...
16,27,We need food and water in Klecin 12. We are dy...,Nou bezwen mange avek dlo nan klcin 12 LA LAFI...,direct,related-1;request-1;offer-0;aid_related-1;medi...
17,28,are you going to call me or do you want me to ...,Eske se rele nap relem oubyen se mwen kap rele...,direct,related-0;request-0;offer-0;aid_related-0;medi...
18,30,I don't understand how to use this thing 4636.,Mwen pa konprann koman pou m itilize bagay 463...,direct,related-0;request-0;offer-0;aid_related-0;medi...
19,31,I would like to know if the earthquake is over...,Mwen ta remen connin si trenblem de terre afin...,direct,related-1;request-0;offer-0;aid_related-0;medi...
20,32,I would like to know if one of the radio ginen...,Mwen ta renmen konnen eske ge jounalis radyo g...,direct,related-1;request-0;offer-0;aid_related-0;medi...
21,33,"I'm in Laplaine, I am a victim",Mwen laplan mwen viktim kot yap bay d pou latr...,direct,related-1;request-1;offer-0;aid_related-1;medi...
22,34,"There's a lack of water in Moleya, please info...",Nan moleya pa gen dlo svp f konnen sa pou mwen.,direct,related-1;request-1;offer-0;aid_related-1;medi...
23,35,Those people who live at Sibert need food they...,nou menm nan sibert nou grangou nou bezwen mange,direct,related-1;request-1;offer-0;aid_related-1;medi...
24,36,"I want to say hello, my message is to let you ...",Mwen salye nou dab mesaj mwen an se jis nou ge...,direct,related-1;request-0;offer-0;aid_related-0;medi...
25,37,Can you tell me about this service,Can you tell me about this service,direct,related-0;request-0;offer-0;aid_related-0;medi...
26,38,"People I'm at Delma 2, we don't anything what ...",MEZANMI MWEN MWEN NAN DELMA 2 NOU TR MAN MAL N...,direct,related-1;request-1;offer-0;aid_related-1;medi...
27,39,We are at Gressier we needs assistance right a...,Se gressier nou an difikilte tanpri vin ede nou,direct,related-1;request-1;offer-0;aid_related-1;medi...
28,41,How can we get water and food in Fontamara 43 ...,Comment nou ka jwen dlo ak manje nan font 43 c...,direct,related-1;request-1;offer-0;aid_related-1;medi...
29,42,We need help. Carrefour has been forgotten com...,Nap di secours yo bliye kafou net sant m ap to...,direct,related-1;request-1;offer-0;aid_related-1;medi...
...,...,...,...,...,...
26356,30233,The ability to pick dengue from influenza is c...,NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
26357,30234,A Federation chartered ship arrived from Lae w...,NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
26358,30235,The result is that in Aceh province many prefa...,NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
26359,30236,"Otherwise, the risk is families fleeing again ...",NaN,news,related-0;request-0;offer-0;aid_related-0;medi...
26360,30237,A United Nations team from the Electoral Assis...,NaN,news,related-0;request-0;offer-0;aid_related-0;medi...
26361,30238,Senegal and Guinea-Bissau have agreed to condu...,NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
26362,30239,The President said that her Government always ...,NaN,news,related-1;request-0;offer-0;aid_related-0;medi...
26363,30240,It was decided that all vehicle movement from ...,NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
26364,30241,The tendency to link deforestation with large ...,NaN,news,related-1;request-0;offer-0;aid_related-0;medi...
26365,30242,Polio is a viral disease that attacks the nerv...,NaN,news,related-0;request-0;offer-0;aid_related-0;medi...
26366,30243,The new constitution declares that 'Somalia is...,NaN,news,related-1;request-0;offer-0;aid_related-0;medi...
26367,30245,We're providing clean water to people who woul...,NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
26368,30246,"Relief items include towels, sanitary napkins,...",NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
26369,30247,In Aceh's Meulaboh town the UN refugee agency ...,NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
26370,30248,WHO is recruiting a sanitary engineer / consul...,NaN,news,related-0;request-0;offer-0;aid_related-0;medi...
26371,30249,Following the severe floods which occurred ove...,NaN,news,related-1;request-0;offer-0;aid_related-0;medi...
26372,30250,The closure has stopped 169 inbound flights an...,NaN,news,related-1;request-0;offer-0;aid_related-0;medi...
26373,30251,"BANGKOK, 24 January 2012 (NNT) - Prime Ministe...",NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
26374,30253,"Cadmium, a metallic element widely used in bat...",NaN,news,related-0;request-0;offer-0;aid_related-0;medi...
26375,30254,Epidemic surveillance: National Institute of C...,NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
26376,30255,2.1 Due to sporadic skirmishes in eastern D.R....,NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
26377,30256,No other army had gone to greater lengths to a...,NaN,news,related-1;request-1;offer-0;aid_related-0;medi...
26378,30257,The delivery was made in conjunction with the ...,NaN,news,related-1;request-0;offer-0;aid_related-0;medi...
26379,30258,However while ECOWAS wanted him to lead a 12-m...,NaN,news,related-0;request-0;offer-0;aid_related-0;medi...
26380,30259,"Hpakant, an area rich with coveted jade stones...",NaN,news,related-1;request-0;offer-0;aid_related-0;medi...
26381,30261,The training demonstrated how to enhance micro...,NaN,news,related-0;request-0;offer-0;aid_related-0;medi...
26382,30262,A suitable candidate has been selected and OCH...,NaN,news,related-0;request-0;offer-0;aid_related-0;medi...
26383,30263,"Proshika, operating in Cox's Bazar municipalit...",NaN,news,related-1;request-0;offer-0;aid_related-0;medi...
26384,30264,"Some 2,000 women protesting against the conduc...",NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
26385,30265,A radical shift in thinking came about as a re...,NaN,news,related-1;request-0;offer-0;aid_related-0;medi...

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [6]:
# create a dataframe of the 36 individual category columns
categories = df['categories'].str.split(pat = ';', expand = True)
categories.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [7]:
# select the first row of the categories dataframe
row = categories[:1]
extracted_list = lambda ele: ele[0][:-2]


# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = list(row.apply(extracted_list))
print(category_colnames)

['related', 'request', 'offer', 'aid_related', 'medical_help', 'medical_products', 'search_and_rescue', 'security', 'military', 'child_alone', 'water', 'food', 'shelter', 'clothing', 'money', 'missing_people', 'refugees', 'death', 'other_aid', 'infrastructure_related', 'transport', 'buildings', 'electricity', 'tools', 'hospitals', 'shops', 'aid_centers', 'other_infrastructure', 'weather_related', 'floods', 'storm', 'fire', 'earthquake', 'cold', 'other_weather', 'direct_report']

In [8]:
# rename the columns of `categories`
categories.columns = category_colnames
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [9]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] = categories[column].apply(lambda ele: ele[-1])
    
    # convert column from string to numeric
    categories[column] = categories[column].astype(int)
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
# Convert not equal to 0 and 1 to 1:

for ele in categories.columns:
    categories.loc[(categories[ele] != 0) & (categories[ele] != 1), ele] = 1

In [11]:
# Value_counts for categories:

categories.related.value_counts()

1    20246
0     6140
Name: related, dtype: int64

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [12]:
# drop the original categories column from `df`
df.drop('categories', axis = 1, inplace = True)

df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [13]:

# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat([df, categories], axis = 1)
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [14]:
# check number of duplicates

sum(df.duplicated())

171

In [15]:
# drop duplicates

df.drop_duplicates(inplace = True)

In [16]:
# check number of duplicates

sum(df.duplicated())

0

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26215 entries, 0 to 26385
Data columns (total 40 columns):
id                        26215 non-null object
message                   26215 non-null object
original                  10170 non-null object
genre                     26215 non-null object
related                   26215 non-null int64
request                   26215 non-null int64
offer                     26215 non-null int64
aid_related               26215 non-null int64
medical_help              26215 non-null int64
medical_products          26215 non-null int64
search_and_rescue         26215 non-null int64
security                  26215 non-null int64
military                  26215 non-null int64
child_alone               26215 non-null int64
water                     26215 non-null int64
food                      26215 non-null int64
shelter                   26215 non-null int64
clothing                  26215 non-null int64
money                     26215 non-null int64
missing_people            26215 non-null int64
refugees                  26215 non-null int64
death                     26215 non-null int64
other_aid                 26215 non-null int64
infrastructure_related    26215 non-null int64
transport                 26215 non-null int64
buildings                 26215 non-null int64
electricity               26215 non-null int64
tools                     26215 non-null int64
hospitals                 26215 non-null int64
shops                     26215 non-null int64
aid_centers               26215 non-null int64
other_infrastructure      26215 non-null int64
weather_related           26215 non-null int64
floods                    26215 non-null int64
storm                     26215 non-null int64
fire                      26215 non-null int64
earthquake                26215 non-null int64
cold                      26215 non-null int64
other_weather             26215 non-null int64
direct_report             26215 non-null int64
dtypes: int64(36), object(4)
memory usage: 8.2+ MB

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [ ]:
engine = create_engine('sqlite:///DisasterResponse.db')
df.to_sql('clean_data', engine, index=False)

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.